# 项目信息
site_name: Emeric53
site_author: Emeric53
site_description: 
  Welcome to Emeric53's nullspace.
# 代码仓库信息
repo_name: Emeric53/Emeric53.github.io # 仓库名称
repo_url: https://github.com/Emeric53/Emeric53.github.io/ # 仓库地址

# 版权信息
copyright: Copyright &copy; 2024 ~ now | Emeric Liang

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime